<?php
if (!($_SESSION['permissions'] & perms::rcon)) {
    die('You do not have permissions to visit this page.');
}
if (!defined('HOMEPAGE')) {
    die('No direct access allowed.');
}
?>
<div class='feListWrapper'>
    <center><img src="images/ajax-loader.gif" class="ajaxLoader"></center>
</div>

<script>
    openDir('');
</script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script>
    $(document).ready(function()
    {

        var options = {
            beforeSend: function()
            {
                $("#uploadProgress").show();
                //clear everything
                $("#uploadBar").width('0%');
                $("#message").html("");
                $("#uploadPercent").html("0%");
            },
            uploadProgress: function(event, position, total, uploadPercentComplete)
            {
                $("#uploadBar").width(uploadPercentComplete + '%');
                $("#uploadPercent").html(uploadPercentComplete + '%');


            },
            success: function()
            {
                $("#uploadBar").width('100%');
                $("#uploadPercent").html('100%');

            },
            complete: function(response)
            {
                $('#feMsgArea').show().html("<div class='success'>" + response.responseText + "</div>");
                var currentDir = $('#uploadDir').val();
                openDir(currentDir);
                toggleId("uploadFile");

            },
            error: function()
            {
                $('#feMsgArea').show().html("<div class='success'>ERROR: unable to upload files</div>");

            }

        };

        $("#uploadFiles").ajaxForm(options);

    });

</script>
<div id="feSearchBox" style='display:none;'>
    <input type="text" size="30" id="feSearchInput" onkeyup='search()' />
</div>

<div class='feSideBar'>

    <div id="feMsgArea" style="display:none;"></div>
    <input type='submit' id='checkAll' class='actionBtn' value='Check All'/><input type='hidden' value='0' id='cb'>
    <button class='actionBtn' id='feNewFile' onclick='toggleId("newFile")'>New File</button>
    <div id="newFile" class='fePopOut' style='display:none;'>
        <div class="inline fePopOutText">File name: </div><input type="text" id="newFName" class="inline" />
        <br />
        <input type="submit" onclick="feNewFile()" class="actionBtn inline" value="Make File">
    </div>


    <button class='actionBtn' id='feNewDir' onclick='toggleId("newDir")'>New Directory</button>
    <div id="newDir" class='fePopOut' style='display:none;'>
        <div class="inline fePopOutText">Dir name: </div><input type="text" id="newDName" class="inline" />
        <br />
        <div class="inline fePopOutText">Permissions: </div><input type='text' id='dirPerms' value='0750' />
        <br />
        <input type="submit" onclick="feNewDir()" class="actionBtn inline" value="Make folder">
    </div>

    <button Onclick='toggleId("uploadFile")' class='actionBtn' id='feUpload'>Upload File</button>
    <div id="uploadFile" class='fePopOut' style='display:none;'>
        <form id="uploadFiles" action="ajax/file-explorer-upload.php" method="POST" enctype="multipart/form-data">
            <input type="file" name="uploadedFile[]" multiple class='actionBtn'>
            <input type="hidden" value="<?php echo homeDir; ?>" id='uploadDir' name="dir">
            <input type='hidden' value='<?php echo $token; ?>' name='token'>
            <input type="submit" value="upload" class='actionBtn'>
        </form>
        <div id="uploadProgress">
            <div id="uploadBar"></div>
            <div id="uploadPercent">0%</div >
        </div>
    </div>
    <button Onclick='toggleId("moveFile")' class='actionBtn'>Move Files</button>
    <div id="moveFile" class='fePopOut' style='display:none;'>
        <center>
            <input type="text" placeholder="New Directory" title='Path relative to home directory' id="feMvTo"/>
            <button Onclick='feMvSel()' class='actionBtn' id='feMvSel'>Move Selected</button>
            <br />
            <p class='fePopOutText'>New directory will be relative to your home directory.</p>

        </center>
    </div>
    <button Onclick='feDelSel()' class='actionBtn' id='feDelSel'>Delete Selected</button>

</div>


