*{
    color:white;

}
html{
    background-color:black;
    background-image:url('../../images/background.jpg');
    background-repeat: repeat;
}
body{
    //overflow: hidden;
}
.contentArea *{
    text-shadow: 1px 1px #333;
}
.contentArea{
    //margin-bottom: 100%;
    //background-color: rgb(18,31,49);
    background: rgb(18, 30, 49);
    -webkit-box-shadow: inset 0px 0px 72px -33px rgba(230,138,46,0.5);
    -moz-box-shadow: inset 0px 0px 72px -33px rgba(230,138,46,0.5);
    box-shadow: inset 0px 0px 72px -33px rgba(230,138,46,0.5);
    padding:2%;
    border-radius: 3px;
    overflow:hidden;
}

.contentArea input[type=text],select,.contentArea input[type=email],.contentArea input[type=password],#ServerSelector,#installAppIdBox,.contentArea textarea,.rconPopOut input[type=text],#rconCombo{
    background-color:black;
    color: #e1cd0b;
    border:none;
    padding-left: 5px;
    margin-left: 10px;
}
.wrapper{
    background-color:#CCC;
    width:100%;
    max-width:1200px;
    margin-left: auto;
    margin-right: auto;
    border:3px solid #333;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 3%;
    //height: 110%;
    min-height: 80%;
    //overflow: hidden;
    background: rgb(204, 204, 204);
    background: -moz-linear-gradient(270deg, rgb(204, 204, 204) 30%, rgb(153, 153, 153) 72%);
    background: -webkit-linear-gradient(270deg, rgb(204, 204, 204) 30%, rgb(153, 153, 153) 72%);
    background: -o-linear-gradient(270deg, rgb(204, 204, 204) 30%, rgb(153, 153, 153) 72%);
    background: -ms-linear-gradient(270deg, rgb(204, 204, 204) 30%, rgb(153, 153, 153) 72%);
    background: linear-gradient(0deg, rgb(204, 204, 204) 30%, rgb(153, 153, 153) 72%);

}
.breadcrumbs{
    display: inline-block;
}
.srvInput, .userForm{
    display: block;
}
.srvInput input,.userForm input{
    //width: 50%;
}
.error{
    color:red;
}

.actionBtn, .feBtn{
    //width:60px;

    height:auto;
    background-color: #333;
    color:white;
    border:2px solid black;
    border-radius: 5px;
    text-align: center;
    display:inline-block;
    /*    -webkit-box-shadow: 3px -3px 5px 0px rgba(0,0,0,1);
        -moz-box-shadow: 3px -3px 5px 0px rgba(0,0,0,1);
        box-shadow: 3px -3px 5px 0px rgba(0,0,0,1);*/
}
.actionBtn{
    padding: 3px 15px;
}
.feBtn{
    font-size: 10px;
    padding:3px;
    text-decoration: none;
    margin-left:5px;
}
.feBtn:hover{
    cursor: pointer;
}
.srvCtrlBtns div{
    margin:0px 5px;
}
.lockers{
    display: inline-block;
}
.lockers form{
    height:0px;
}

.actionBtn:hover{
    background-color: red;
}
.actionBtn a{
    text-decoration: none;
    color:white;
}

.srvCtrlNumPlayers{
    display:inline-block;
}
.srvCtrlMax_players{
    display:inline-block;

}

.userFormInfo{
    display: block;
    padding: 10px;
    size: 18px;
    font-weight: bold;
}
.upperCase{text-transform:uppercase;}

nav {
    display: block;
    text-align: center;
    background-color:#CCC;
    width:100%;
    max-width:1200px;
    margin-left: auto;
    margin-right: auto;
    border-left:3px solid #333;
    border-right:3px solid #333;
    border-top:3px solid #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    padding-bottom:5px;
    padding-left: 3%;
    padding-right: 3%;
    background: rgb(204, 204, 204);
    background: -moz-linear-gradient(90deg, rgb(204, 204, 204) 30%, rgb(153, 153, 153) 72%);
    background: -webkit-linear-gradient(90deg, rgb(204, 204, 204) 30%, rgb(153, 153, 153) 72%);
    background: -o-linear-gradient(90deg, rgb(204, 204, 204) 30%, rgb(153, 153, 153) 72%);
    background: -ms-linear-gradient(90deg, rgb(204, 204, 204) 30%, rgb(153, 153, 153) 72%);
    background: linear-gradient(180deg, rgb(204, 204, 204) 30%, rgb(153, 153, 153) 72%);

}
nav ul {
    margin: 0;
    padding:0;
    list-style: none;
}

.mainMenu a {
    display:block;
    background: #111;
    color:#fff;
    text-decoration: none;
    padding: .5em 1.3em;
    //text-transform: uppercase;
    font-size: 80%;letter-spacing: 2px;
    text-shadow: 0 -1px 0 #000;
    position: relative;
}
.mainMenu{
    margin-top: 1em;
    margin-left:auto;
    margin-right: auto;

    vertical-align: top;
    display: inline-block;
    box-shadow: 1px -1px -1px 1px #000, -1px 1px -1px 1px #fff, 0 0 6px 3px #fff;
    border-radius:6px;
}
.mainMenu li{position: relative;}
.mainMenu > li {
    float:left;
    border-bottom: 4px #aaa solid;
    margin-right: 1px;
}
.mainMenu > li > a {
    margin-bottom:1px;
    box-shadow:inset 0 2em .33em -.5em #555;
}
.mainMenu > li:hover , .mainMenu > li:hover >a{  border-bottom-color:#996600;}
.mainMenu li:hover > a { color:#996600; }
.mainMenu > li:first-child  { border-radius: 4px 0 0 4px;}
.mainMenu > li:first-child>a{border-radius: 4px 0 0 0;}
.mainMenu > li:last-child  {
    border-radius: 0 0 4px 0;
    margin-right: 0;
}
.mainMenu > li:last-child >a{border-radius: 0 4px 0 0; }
.mainMenu li li a { margin-top:1px}



.mainMenu li a:first-child:nth-last-child(2):before {
    content:"";
    position: absolute;
    height:0;
    width: 0;
    border: 5px solid transparent;
    top: 50% ;
    right:5px;
}

/* submenu positioning*/
.mainMenu ul {
    position: absolute;
    white-space: nowrap;
    border-bottom: 5px solid  #996600;
    z-index: 99999;
    left: -99999em;
}
.mainMenu > li:hover > ul {
    left: auto;
    padding-top: 5px  ;
    min-width: 100%;
}
.mainMenu > li li ul {  border-left:1px solid #fff;}


.mainMenu > li li:hover > ul {
    /* margin-left: 1px */
    left: 100%;
    top: -1px;
}
/* arrow hover styling */
.mainMenu > li > a:first-child:nth-last-child(2):before {
    border-top-color: #aaa;
}
.mainMenu > li:hover > a:first-child:nth-last-child(2):before {
    border: 5px solid transparent;
    border-bottom-color: #996600;
    margin-top:-5px
}
.mainMenu li li > a:first-child:nth-last-child(2):before {
    border-left-color: #aaa;
    margin-top: -5px
}
.mainMenu li li:hover > a:first-child:nth-last-child(2):before {
    border: 5px solid transparent;
    border-right-color: #996600;
    right: 10px;
}
/* backup list*/
.inline{
    display:inline-block;
    margin:.5em;
}
#backupsWindow{
    position: absolute;
    z-index: 999;
    //width:80%;
    height:auto;
    border:3px solid #333;
    //background-color: rgba(255,255,255,.8);
    padding: 20px;
}
#backupsWindow .actionBtn{
    margin: 0px 5px;
}

#backupsWindow,.srvStats{
    background-color: rgba(18, 30, 49,.9);

    -webkit-box-shadow: inset 10px 10px 113px -33px rgba(230,138,46,1);
    -moz-box-shadow: inset 10px 10px 113px -33px rgba(230,138,46,1);
    box-shadow: inset 10px 10px 113px -33px rgba(230,138,46,1);
}
/* stats front page */

.srvStats{

    border:2px solid #333;
    border-radius: 5px;
    width: 150px;
    right:180px;
    top:200px;
    position: absolute;
    z-index: 999;
    padding: 2em;

}
.sysText{
    border-bottom: 1px solid black;
    text-align: center;
}
#memBar, #cpuBar{
    width:100px;
    height:10px;
}

/*server list*/
.serverList{
    margin-left: auto;
    margin-right:auto;
    width: 90%;
    height:60%;
}
.srv{
    display: block;
    margin-top: 20px;
    //background-color: rgba(132, 132, 134, 0.1);
    width:48%;
    height:auto;
    border: 3px solid #333;
    border-radius: 5px;
    background-image: url(../../images/metal.jpg);
    color:white;
}

.srv:nth-child(odd){
    float: left;
}
.srv:nth-child(even){
    float: right;
}
.online{
    //border:1px solid rgba(0,180,0,.2);
    -moz-box-shadow:    inset 5px 5px 30px rgba(0,230,0,.2);
    -webkit-box-shadow: inset 5px 5px 30px rgba(0,2300,0,.2);
    box-shadow:         inset 5px 5px 30px rgba(0,230,0,.2);
}
.offline{
    //border:1px solid rgba(180,0,0,.2);
    -moz-box-shadow:    inset 5px 5px 30px rgba(180,0,0,.2);
    -webkit-box-shadow: inset 5px 5px 30px rgba(180,0,0,.2);
    box-shadow:         inset 5px 5px 30px rgba(180,0,0,.2);
}
.updating{
    -moz-box-shadow:    inset 5px 5px 30px rgba(60,60,0,.2);
    -webkit-box-shadow: inset 5px 5px 30px rgba(60,60,0,.2);
    box-shadow:         inset 5px 5px 30px rgba(60,60,0,.2);
}
.backingUp{
    -moz-box-shadow:    inset 5px 5px 30px rgba(0,0,180,.2);
    -webkit-box-shadow: inset 5px 5px 30px rgba(0,0,180,.2);
    box-shadow:         inset 5px 5px 30px rgba(0,0,180,.2);
}
.srvListInfo{
    display: block;
    margin-left:auto;
    margin-right:auto;
}
.srvListInfo{
    text-align: center;
}
.srvIp{
    display: block;
    float:left;
    word-break: break-all;
    margin-left: 5px;
}
.srvRam{
    display: block;
    float:right;
    margin-right: 5px;
}
.srvHostName{
    display: inline-block;
    margin-left: 5px;
    word-wrap:break-word;
    width: 50%;
}
.srvPlayers{
    display: inline-block;
    float: right;
    margin-right: 5px;
    text-align:right;
}

.srvBtns{
    display: block;
    margin-top: 5%;
    margin-bottom: 10px;
    text-align:center;
}
.srvBtns div{
    margin-left: 5px;
    margin-right: 5px;
}
.playerCount{
    margin-top: 20px;
    float:left;
    clear:both;
}




.delSrv{
    display: inline-block;
    float:right;
}
.cpySrv{
    display: inline-block;
    float: left;
}
.cmdLine{
    width:70%;
    height:60px;
}
.srvPathInput{
    width:25%;
}

.cp-ui-minimize{
    display: block;
    float: right;text-align: center;
    color:white;
    border-top: 2px solid black;
    border-left: 2px solid black;
    padding: 6px 15px;
}
#maxsrvStats{

}
.bottomNav{
    position:fixed;
    bottom:0;
    right:0;
    height:auto;
    background-color: #333;
}
#rconOutput{
    background-color: black;
    color: #c3cd00;
}
.rconPopOut, .fileEditor{
    position: fixed;
    background-color: rgb(18,30,49);
    color:white;
    z-index: 99;

    border: 3px solid #333;
    padding: 10px;

    width: 100%;
    height: 100%;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -ms-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
}
.rconPopOut{
    text-align: center;
    bottom: 0;
    left:0;
    max-height:391px;
    max-width:903px;
    opacity: .5;
}
.rconPopOut:hover, .fileEditor:hover{
    opacity: 1;
}
.rconCtrls{
    display:inline-block;
    margin-left:10px;
}
.fileEditor{
    opacity: .7;
    top: 0px;
    left:10px;
    max-height:800px;
    max-width:1600px;
}
#code{
    height: 80%;
    width:80%
}
.minimizeBtn{
    float: right;
}
.rconResponse textarea{
    max-width: 962px;

    width: 100%;
    height: 80%;
}
#messageArea{
    position:fixed;
    bottom:10px;
    left:10px;
    height:auto;
    background-color: #333;
    background-color: black;
    border: 3px solid #333;
    border-radius: 3px;
    color: silver;
    padding: 5px 10px;
    height:auto;
    z-index: 999999;
}
#messageArea *{
    display: inline-block;
    margin-left:10px;
}
/* file explorer */
.file,.size, .perms{
    display:inline-block;
    font-size: 12px;
    margin-left: 8px;
}
.dir{
    color:activecaption;
}
#commandList p{
    color:black;
    font-size:12px;
    line-height: 2px;
}
.feListWrapper{
    display:inline-block;
    float:left;
    width: 78%;
    background: rgb(18, 30, 49);
    list-style: none;
}
.feSideBar {
    //    position: relative;

    border-left:3px solid #333;
    padding-left: 1%;
    float: right;
    width:19%;
    background: rgb(18, 30, 49);
}
.feSideBar .actionBtn{
    margin-top: 10px;
}
#checkAll{
    display:block;
}
.pointer{
    cursor: pointer;
}
.logList td{
    padding:10px;
    border-bottom:2px solid #333;
}
/*.logList tr:first-child{
    font-size:10px;
}*/
.logList tr:hover{
    background-color: rgba(255,255,255, .2);
}
.fePopOut{
    position:absolute;
    z-index: 99;
    background-color:#999999;
    padding:10px;
    border-radius: 3px;
    border:3px solid #333;
    color:black;
}
.fePopOutText{
    color:black;
    text-shadow:none;
}
#feMsgArea{
    margin-top:-30px;
    margin-left:-15px;
    position:absolute;
    z-index: 99;
    background-color:#333;
    border:2px solid black;
    border-radius:3px;
    padding:5px;
}
.feCheckAll{
    /*    float:left;
        display: block;
        clear: both;*/
    position:absolute;
    bottom:0px;
}
#moveFile p{
    padding: 0px 10px;
}
#uploadProgress { position:relative; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
#uploadBar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
#uploadPercent { position:absolute; display:inline-block; top:3px; left:48%; }
#moveFile{
    padding:10px 0px;
}
.logs{
    overflow-y: scroll;
    height: 60%;
    margin-top:20px;
    border-top:3px solid #333;
}
.searchBox{
    background-color: rgba(15, 17, 14, 0.8);
    border: none;
    color:white;
    width: 325px;
    height: 37px;
    margin: 5px;
    padding-left: 5px;
    border-radius: 10px;
    border:1px solid white;
}

#searchInput{
    background-color: rgba(15, 17, 14, 0.8);
    border: none;
    color:white;
    width: 325px;
    height: 37px;
    margin: 5px 5px 0px 5px;
    padding-left: 5px;
    border-radius: 10px;
    border-top:1px solid white;
    border-left:1px solid white;
    border-bottom: 1px solid white;
    position: relative;
    float:right;
    clear:none;
    /*    top: 100px;
        left: 20px;*/
    z-index: 1;
    display:inline-block;

}
#searchButton{
    background-color:transparent;
    /*    top:14px;
        left:-42px;*/

    height: 35px;
    border-radius: 10px;
    border-top:1px solid white;
    border-right:1px solid white;
    border-bottom: 1px solid white;
    position: relative;
    float:right;
    top:5px;
    left: 330px;
    z-index: 2;
    display:block;
}
.pageSelect{
    display:inline-block;
}
.rootSrvList{
    border:2px solid #333;
    border-radius:3px;
    padding: 10px;
    display:inline-block;
    width: 45%;
    position:relative;
}
.rootSrvList:nth-child(even){
    float:right;
}.rootSrvList:nth-child(odd){
    float:left;
}
.rootSrvList .actionBtn{
    margin-top:8px;
}
.srvOrderList {
    list-style-type: none;
    margin: 2% auto;
    padding: 0;
    width: 40%; }
.srvOrderList li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1.4em;
    height: 18px;
    -webkit-box-shadow: inset 10px 10px 53px 3px rgba(51,51,51,1);
    -moz-box-shadow: inset 10px 10px 53px 3px rgba(51,51,51,1);
    box-shadow: inset 10px 10px 53px 3px rgba(51,51,51,1);
    background: #590d0d;
    color:white;

}
.srvOrderList li span {
    position: absolute;
    margin-left: -1.3em;

}
/* adverts */
.advList{margin-left: auto;margin-right: auto; width: 900px; border: 3px solid black;}
.advList #type{margin: 0px 10px; width:20px;}
.advList #type input {width:20px;}
.advList #text{margin: 0px 10px;}
.advList #flags{margin: 0px 10px;}
.advList #flags input {width:50px;}
.advList #enabled{margin: 0px 10px;}
.advList .advert{margin-top: 10px;}

.advList #message{font-size: 22px; padding-bottom:10px;border-bottom: 1px solid black;}
.advList #Dtype{margin-left: 10px;}
.advList #Dtext{margin-left: 200px;}
.advList #Dflags{margin-left: 220px;}